.servicios-div1{
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;
    margin-top: 60px;

    height: 600px;
    width: 100%;
    padding: 0px;
}

.servicios-foto1{
    background: url("../../assets/servicios/psicologo-derlis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    height: 100%;
    width: 100%;

    
    
}

.servicios-texto1{
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
    color: #161616;    

    width: 2000px;
    height: 400px;

    padding: 120px;
}

.servicios-texto1 h3{
    margin-bottom: 10px;
}
