.servicios-div1{
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;
    margin-top: 60px;

    height: 600px;
    width: 100%;
    padding: 0px;
}

.servicios-foto1{
    background: url("../../assets/servicios/psicologo-derlis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    height: 100%;
    width: 100%;

    
    
}

.servicios-texto1{
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
    color: #161616;    

    width: 2000px;
    height: 400px;

    padding: 120px;
}

.servicios-texto1 h3{
    margin-bottom: 10px;
    font-size: 40px;
}

/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .servicios-div1 {
        flex-direction: column-reverse;
        height: auto;
        margin-top: 0px;
        padding: 0;
    }

    .servicios-foto1 {
        width: 100%;
        height: 200px; 
        background-size: cover;
    }

    .servicios-texto1 {
        width: 90%;
        height: auto;
        padding: 10px;
        text-align: center;
        align-items: center;
    }

    .servicios-texto1 h3 {
        font-size: 22px;
        margin-bottom: 8px;
    }
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .servicios-div1 {
        flex-direction: column-reverse;
        height: auto;
        margin-top: 0px;
        padding: 0;
    }

    .servicios-foto1 {
        width: 100%;
        height: 300px; 
        background-size: cover;
    }

    .servicios-texto1 {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: left;
        align-items: center;
    }

    .servicios-texto1 h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .servicios-div1 {
        flex-direction: column-reverse;
        height: 1300px;
        width: auto;
        margin-top: 0px;
    }

    .servicios-foto1 {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .servicios-texto1 {
        width: 100%;
        height: 80%;
        padding: 0 60px 60px 60px;
        align-items: flex-start;
        text-align: left;
    }

    .servicios-texto1 h3 {
        font-size: 26px;
        margin-bottom: 12px;
    }
}