.footerD{
    height: 250px;
    padding: 45px;
    width: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    background: #e1cef3;
    color: #161616;
}

.footer-div-datos{
    display: flex;
    flex-direction: column;

    margin: 0px 130px 0px 130px

}

    .footer-div-datos span{
        margin-bottom: 5px;
    }

    .footer-div-datos h2{
        margin-bottom: 5px;
    }

.footer-div-logo{
    width: 150px;
    height: 150px;

    
    background-image: url("../../assets/Logo-Solo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.footer-div-agendar{
    width: 450px;
    padding: 40px;
       
}

.footer-div-agendar h2{
    margin-bottom: 15px;
}

.footer-div-redes{
    display: flex;
    flex-direction: row;
   
}

    .footer-div-redes img{
        width: 35px;
        height: 35px;
        filter: invert(0%) sepia(55%) saturate(1519%) hue-rotate(354deg) brightness(77%) contrast(83%);
       
    }

    .footer-div-redes img:hover{
        
        filter: brightness(0) saturate(100%) invert(67%) sepia(38%) saturate(7253%) hue-rotate(230deg) brightness(85%) contrast(85%);

        scale: 105%; 
        transition: 0.5s;
    }


/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .footerD {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: auto;
    }

    h2{
        text-align: center;
    }

    .footer-div-datos {
        margin: 20px 0;
        text-align: center;
    }

    .footer-div-logo {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .footer-div-agendar {
        width: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .footer-div-redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .footerD {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        height: auto;
    }

    .footer-div-datos {
        margin: 20px 0;
        text-align: center;
    }

    .footer-div-logo {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .footer-div-agendar {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-div-redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .footerD {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
       height: 280px;
        width: auto;
        
        
    }

    .footer-div-datos {
        margin: 0 50px;
        width: 200px;
        justify-content: center;
        align-items: center;
    }
    .footer-div-datos h2 {
        width: 200px;
        align-items: end;
    }

    .footer-div-logo {
        width: 230px;
        height: 130px;
    }

    .footer-div-agendar {
        width: 500px;
        padding: 35px;
        
        
    }

    .footer-div-redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
       
    }

   
}