.foto{
    
    display: flex;
    align-items: end;
    justify-content: center;
    height: 450px;
    width: auto;
    

    background-image: url(../../assets/inicio/consultorio.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;    
    
}

.frase{
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    top: 50px;

    height: 130px;
    width: 600px;

    padding: 50px;

    color:#161616;
    
    background-color: #66fecb;
    border-radius: 15px;
}


@media (max-width: 480px) {

.frase{
    
    position:relative;
   
    top: -120px;
    width: 320px;
    padding: 40px;
        
}

.frase span{
    height: 70px;
    text-align: center;
}

.frase h4{
    margin-top: 15px;
}
}

    /* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {}

    /* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {}