.foto{
    
    display: flex;
    align-items: end;
    justify-content: center;
    height: 450px;
    width: auto;
    

    background-image: url(../../assets/inicio/consultorio.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;    
    
}

.frase{
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    top: 50px;

    height: 130px;
    width: 600px;

    padding: 50px;

    font-weight: lighter;
    background-color: #66fecb;
}

.frase h4{
    font-weight: normal;
}
