.portada{
    background-color: antiquewhite;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),url(../../assets/inicio/psicologo-infantil-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;

    height: 820px;
    margin-top: 80px;
    

}

.portada-cabecera{
    
    display: flex;
    flex-direction: column;

     position: relative;

    top: 250px;
    left: 140px;
    width: 100px;
}

.portada-p{
    
    font-size: 40px;
    width: 300px;
    height: 150px;
    margin-bottom: 15px;
   

    color: white;

}




@media (max-width: 480px) {

   
}
 /* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {

    .portada{
        margin-top: -11px;
        left: 10px;
    }

    .portada-cabecera{
        left: 50px;
    }
}
    

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .portada{
        margin-top: -10px;
    }

}