

.razones-div{
    display: flex;
   
    justify-content: center;
     align-items: center;
  
     width: auto;
     height: 600px;
      
     background: #9966cb;
}

.razones-foto{
    height: 600px;
    width: 600px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../assets/inicio/razones.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    
    
}

.razones-texto ul{
    list-style-type: none;
}

.razones-texto ul li{
    background-image: url("../../assets/inicio/icons8-punto-30.png");
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-left: 2rem;

    font-size: 20px;
    margin-bottom: 10px;    
    
}



.razones-texto{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 780px;
    height: 500px;

    padding-left: 120px;
   
    

    color: white;


}

.razones-texto h3{
    font-size: 40px;
    font-weight: lighter;
}


.razones-texto ul{
    margin-top: 15px;
}



/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .razones-div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .razones-foto {
        height: 390px;
        width: 390px;
        margin-bottom: 10px;
        background-size: 90%;
    }

    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .razones-texto h3 {
        font-size: 30px;
    }

  
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .razones-div {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;
    }

    .razones-foto {
        height: 390px;
        width: 390px;
        margin-bottom: 10px;
        background-size: 90%;
    }


    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .razones-texto h3 {
        font-size: 35px;
        width: 350px;
        text-align: left;
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .razones-div {
        flex-direction: row;
        height: 500px;
        padding: 20px;
    }

    .razones-foto {
        height: 500px;
        width: 500px;
        margin-bottom: 10px;
        background-size: 50%;
    }

   

    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 30px;
        
    }

    .razones-texto h3 {
        font-size: 38px;
        text-align: center;
    }
}