

.razones-div{
    display: flex;
   
    justify-content: center;
     align-items: center;
  
     width: auto;
     height: 600px;
      
     background: #9966cb;
}

.razones-foto{
    height: 600px;
    width: 600px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.razones-div-foto{
    z-index: 1;
    
    position: relative;

    left: 170px;
    bottom: 20px;
    width: 300px;
    height: 407px;
    
    background-image: url(../../assets/inicio/4.jpg);
    background-size: cover;
    background-position: center;
}

.razones-div-background{
    z-index: 0;
    position: relative;
    
    
    right: 180px;
    top: 30px;
    width: 300px;
    height: 407px;
    background-color: #66fecb;


}

.razones-texto{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 780px;
    height: 500px;

    padding-left: 120px;
   
    

    color: white;


}

.razones-texto h3{
    font-size: 40px;
    font-weight: lighter;
}


.razones-texto ul{
    margin-top: 15px;
}



@media (max-width: 780px){
    .razones-div{
        flex-direction: column;
        height: 600px;
    }
    
       .razones-div-background{
        top: -10px;
        right: 160px;
        width: 500px;
        height: 200px;
    }

    .razones-div-foto{
        top: 10px;
        right: 160px;
        width: 500px;
        height: 200px;

        background-position:inherit;
    }

    .razones-texto{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        padding: 0px;
        margin-top: 60px;
        
        height: 400px;
    }

    .razones-foto{
        height: 400px;
        margin-bottom: 30px;
    }
    
}