

.razones-div{
    display: flex;
   
    justify-content: center;
     align-items: center;
  
     width: auto;
     height: 600px;
      
     background: #9966cb;
}

.razones-foto{
    height: 600px;
    width: 600px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.razones-texto ul{
    list-style-type: none;
}

.razones-texto ul li{
    background-image: url("../../assets/inicio/icons8-punto-30.png");
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-left: 2rem;

    font-size: 20px;
    margin-bottom: 10px;    
    
}

.razones-div-foto{
    z-index: 1;
    
    position: relative;

    left: 170px;
    bottom: 20px;
    width: 300px;
    height: 407px;
    
    background-image: url(../../assets/inicio/4.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 15px;
}

.razones-div-background{
    z-index: 0;
    position: relative;
    
    
    right: 180px;
    top: 30px;
    width: 300px;
    height: 407px;
    background-color: #66fecb;

    border-radius: 15px;
}

.razones-texto{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 780px;
    height: 500px;

    padding-left: 120px;
   
    

    color: white;


}

.razones-texto h3{
    font-size: 40px;
    font-weight: lighter;
}


.razones-texto ul{
    margin-top: 15px;
}



/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .razones-div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .razones-foto {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .razones-texto h3 {
        font-size: 30px;
    }

    .razones-div-background{
        position: relative;
        top: 20px;
        right: 160px;
        width: 500px;
        height: 200px;
    }

    .razones-div-foto{
        position: relative;
        top: 10px;
        right: 200px;
        width: 500px;
        height: 200px;

        
    }
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .razones-div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .razones-foto {
        height: auto;
        width: 600px;
        margin-bottom: 40px;
    }

    .razones-div-background{
       
        top: 0px;
        right: 170px;
        width: 500px;
        height: 400px;
    }

    .razones-div-foto{
                
        top: 30px;
        left: 170px;
        width: 500px;
        height: 400px;

        
    }

    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .razones-texto h3 {
        font-size: 35px;
        width: 350px;
        text-align: left;
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .razones-div {
        flex-direction: row;
        height: 500px;
        padding: 20px;
    }

    .razones-foto {
        height: auto;
        width: 50%;
    }

    .razones-div-foto{
        left: 120px;
        width: 500px;
        height: 200px;
    }
    
    
        
    .razones-div-background {
        left: -30px;
        top: 20px;
        width: 500px;
        height: 200px;

        }

    .razones-texto {
        width: 100%;
        height: auto;
        padding-left: 30px;
        
    }

    .razones-texto h3 {
        font-size: 38px;
        text-align: center;
    }
}