.servicios-div{
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
      
    
    height: 760px;
    padding: 10px 120px 0px 120px;
    
    background: white
}

.servicios-titulo1{
    font-size: 30px;
    font-weight: lighter;
}
.servicios-titulo2{
    font-size: 40px;
    margin-top: 10px;
    font-weight:normal;
}

.servicios-tipos{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    
    width: 100%;
    

}
.tipo{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 350px;
    height: 450px;
    padding: 20px;

    justify-content: center;
    align-items: center;
    border-radius: 15px;

    

    background-color: #9966cb;
    color: white;
    border: 1px solid #6819b7; 
    
}

.tipo span{
    font-size: 30px;
  
}
.tipo p{
    text-align: justify;
    font-size: 17px;
    margin-top: 30px;
    font-weight: lighter;
}



@media (max-width: 780px){

    .servicios-div{
        height: auto;
        justify-content: center;
        align-items: center;

        padding: 20px;

        
    }
    .servicios-tipos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tipo{
        margin-top: 60px;
        
    }
}
