

.sobremi-div{
   display: flex;
   
  justify-content: center;
   align-items: center;

   width: auto;
   height: 600px;
   
    
   background: #9966cb;
    
}

.sobremi-foto{
    height: 600px;

    width: 600px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../assets/inicio/sobremi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;    
}



.sobremi-texto{
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 780px;
    height: 500px;

    padding-right: 120px;
   
    

    color: white;

}
.sobremi-texto h3{
    font-size: 40px;
    
}
.sobremi-texto p{
    margin-top: 15px;
    font-size: 17px;
    
}



/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .sobremi-div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: 390px;
        width: 390px;
        margin-bottom: 10px;
        background-size: 90%;
    }

   

    .sobremi-texto {
        width: 100%;
        height: auto;
        padding-right: 0;
    }

    .sobremi-texto h3 {
        font-size: 30px;
    }

    .sobremi-texto p {
        font-size: 15px;
    }
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .sobremi-div {
        flex-direction: column;
        
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: 390px;
        width: 390px;
        margin-bottom: 20px;
        background-size: 90%;

    }

 

    .sobremi-texto {
        align-items: center;
        width: 100%;
        height: auto;
        padding-right: 0;
    }

    .sobremi-texto h3 {
        font-size: 35px;
        text-align: center;
    }

    .sobremi-texto p {
        font-size: 16px;
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .sobremi-div {
        flex-direction: row;
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: 450px;
        background-size: 100%;
        width: 450px;
    }
  

    .sobremi-texto {
        width: 100%;
        height: auto;
        padding-right: 20px;
    }

    .sobremi-texto h3 {
        font-size: 38px;
    }

    .sobremi-texto p {
        font-size: 17px;
    }
}