

.sobremi-div{
   display: flex;
   
  justify-content: center;
   align-items: center;

   width: auto;
   height: 600px;
   
    
   background: #9966cb;
    
}

.sobremi-foto{
    height: 600px;

    width: 600px;

    
    display: flex;
    justify-content: center;
    align-items: center;

        
}

.sobremi-div-foto{
    z-index: 1;
    
    position: relative;

    left: 170px;
    bottom: 20px;
    width: 300px;
    height: 407px;

    border-radius: 15px;
    
    background-image: url(../../assets/inicio/3.jpg);
    background-size: cover;
    background-position: center;
    
   
}


.sobremi-div-background{
    z-index: 0;
    
    position: relative;
    
    
    right: 180px;
    top: 30px;
    width: 300px;
    height: 407px;
    background-color: #66fecb;
    border-radius: 15px;
    
}

.sobremi-texto{
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 780px;
    height: 500px;

    padding-right: 120px;
   
    

    color: white;

}
.sobremi-texto h3{
    font-size: 40px;
    font-weight: lighter;
}
.sobremi-texto p{
    margin-top: 15px;
    font-size: 17px;
    font-weight: lighter;
}



/* Teléfonos (max-width: 480px) */
@media (max-width: 480px) {
    .sobremi-div {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .sobremi-div-foto, .sobremi-div-background {
        
        
        height: 400px;
        margin-bottom: 20px;
    }

    .sobremi-texto {
        width: 100%;
        height: auto;
        padding-right: 0;
    }

    .sobremi-texto h3 {
        font-size: 30px;
    }

    .sobremi-texto p {
        font-size: 15px;
    }
}

/* Tablets en orientación vertical (max-width: 768px) */
@media (max-width: 768px) {
    .sobremi-div {
        flex-direction: column;
        
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: auto;
        width: 600px;
        margin-bottom: 20px;
    }

    .sobremi-div-background{
       
        top: 10px;
        right: 170px;
        width: 500px;
        height: 400px;
    }

    .sobremi-div-foto{
         
        top: 30px;
        left: 170px;
        width: 500px;
        height: 400px;

    }

    .sobremi-texto {
        align-items: center;
        width: 100%;
        height: auto;
        padding-right: 0;
    }

    .sobremi-texto h3 {
        font-size: 35px;
        text-align: center;
    }

    .sobremi-texto p {
        font-size: 16px;
    }
}

/* Tablets en orientación horizontal (min-width: 768px) y (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .sobremi-div {
        flex-direction: row;
        height: auto;
        padding: 20px;
    }

    .sobremi-foto {
        height: auto;
        width: 50%;
    }
    .sobremi-div-background{
       
        top: 20px;
        right: 120px;
        width: 500px;
        height: 200px;
    }

    .sobremi-div-foto{
                
        left: 120px;
        width: 500px;
        height: 200px;

        
    }

    .sobremi-texto {
        width: 100%;
        height: auto;
        padding-right: 20px;
    }

    .sobremi-texto h3 {
        font-size: 38px;
    }

    .sobremi-texto p {
        font-size: 17px;
    }
}