.portada{
    background-color: antiquewhite;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),url(../assets/psicologo-infantil-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;

    height: 820px;
    margin-top: 80px;
    

}

.portada-cabecera{
    display: flex;
    flex-direction: column;

     position: relative;

    top: 250px;
    left: 120px;
    width: 100px;
}

.portada-p{
    font-size: 40px;
    width: 300px;
    height: 150px;
   

    color: white;

}



@media (max-width: 780px){
    .portada{
        margin-top: -11px;
        left: 10px;
    }

    .portada-cabecera{
        left: 50px;
    }
}