.razones{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
 
    width: auto;
    height: 600px;
     
     background: #8a2be2;
      
}

.razones-div{
   display: flex;
   
   justify-content: space-around;
   align-items: center;

   width: 1100px;
   height: 500px;
    
    background: blueviolet;
    
}

.razones-foto{
    z-index: 1;
    
    position: relative;

    left: 50px;
    bottom: 10px;

    width: 258px;
    height: 407px;
    
    background-image: url(../assets/4.jpg);
    background-size: cover;
    background-position: center;
    
    
}


.razones-background{
    z-index: 0;
    
    position: relative;
    overflow: hidden;

    right: 240px;
    top: 40px;
    width: 258px;
    height: 407px;
    background-color: aquamarine;

    border-radius: 5px;
}

.razones-texto{
    

    width: 640px;
    height: 286px;;
    
    padding: 30px;
    
    color: white;

   


}

.razones h3{
    font-size: 30px;
    font-weight: lighter;
}


.razones-texto ul{
    margin-top: 15px;
}

.razones-texto button{
    border: 1px solid aquamarine;
    border-radius: 15px;
    background-color: blueviolet;
    margin-top: 40px;
    color: white;

    height: 50px;
    width: 150px;

    font-family: "Fredoka", sans-serif;
    font-size: 18px;
}

.razones-texto button:hover{
    background-color: aquamarine;
    transition: 0.5s;
    color: black;

    border: 1px solid aquamarine;
}

@media (max-width: 780px){
    .razones-div{
        flex-direction: column;
       
    }

    .razones-background{
        top: 2690px;
        left: 170px;
        width: 400px;
        height: 200px;
    }

    .razones-foto{
        width: 400px;
        height: 300px;

        background-position:inherit;
    }

    .razones-texto{
        display: flex;
        flex-direction: column;

        align-items: center;
        
    }
    
}